@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-color: #009345;
  --secondary-color: #47AA49;
  --alt-color: #0F5A02;
  --auth-bg: #F3F1F1;
  --dark-heading: #313131;
  --light-heading: #3C3939;
  --warning: #E33629;
  --db-yellow: #ECBB51;
  --db-dark-heading: #25324B;
  --db-light-heading: #7C8493;
  --db-nav-icon: #A098AE;
  --dashboard-bg: #fafafa;
}

body {
  font-family: 'Poppins', sans-serif;
}


/* custom-styles.css */
.centered-left-border::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-50%);
  height: 10%; /* Adjust the height as needed */
  width: 4px; /* Adjust the width as needed */
  background-color: var(--primary-color); /* Use Tailwind's green-500 (#10b981) color */
  border-radius: 9999px; /* To make it a rounded border */
}


/* Add this CSS to your global CSS file or inline */
.progress-ring {
  background: conic-gradient(green 0deg 270deg, gray 270deg 360deg); /* Adjust angles for progress */
}
